.MMM-Rocketlaunch {
    width : 420px;
}

.rhicon {
	vertical-align:top;
	padding: 3px 5px 3px 10px;
}

.rhtext {
	vertical-align:top;
	font-weight:bold;
	text-align:left;
  background-color:#343434;
	padding: 3px 5px 3px 10px;
}

.ricon {
	vertical-align:top;
	padding: 3px 5px 3px 10px;
}

.rtext {
	vertical-align:top;
	text-align:left;
	padding: 3px 5px 3px 10px;
}

.empty{
  padding: 14px;
}


/*
td  {
	border: 1px dashed blue;
	padding: 10px;
}
*/
